<div class="row">
  <form class="col s12">
   <div class="row">
     <div class="input-field col s6">
       <input [(ng-model)]="data.firstname" id="first_name" type="text" class="validate">
       <label class="active" for="first_name">First Name</label>
     </div>
     <div class="input-field col s6">
       <input [(ng-model)]="data.lastname" id="last_name" type="text" class="validate">
       <label class="active" for="last_name">Last Name</label>
     </div>
   </div>
   <div class="row">
     <div class="input-field col s6">
       <input [(ng-model)]="data.zip" id="zip" type="text" class="validate">
       <label class="active" for="zip">Zipcode</label>
     </div>
     <div class="input-field col s6">
       <input [(ng-model)]="data.city" id="city" type="text" class="validate">
       <label class="active" for="city">City</label>
     </div>
   </div>
  </form>
  <button (click)="cancel(data)">Cancel</button>
  <button (click)="save(data)">Save</button>
 </div>
