<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content grey-text text-darken-4">
        <span class="card-title grey-text text-darken-4">{{data.firstname}} {{data.lastname}}</span>
        <p>
          <span>Street:</span>
          <span>{{data.street}}</span>
          <br>
          <span>Zipcode:</span>
          <span>{{data.zip}}</span>
          <br>
          <span>City:</span>
          <span>{{data.city}}</span>
        </p>
      </div>
      <div class="card-action">
        <button (click)="goBack()">Go Back</button>
        <button (click)="edit(data)">Edit</button>
      </div>
    </div>
  </div>
</div>
